*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x:hidden;
    background-color: #ffffff;
    width: 100%;


}

.madutop 
{
    background-image: url(bg_madu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.gambar1
{
    position: relative;
    left: 15%;

}

.sabda
{
    color: white;
    text-align: right;
    padding: 5%;
}

.beli
{
    color: #ffffff;
    width: 5%;
    padding: 10px;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
    background-color:  deeppink;
}

.heading
{
    border: 2px solid black;
    width: 19%;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 50px;
}

.cover
{
    border: 2px solid white;
    padding: 0%;
    margin: 1% auto;
    margin-top: 10%;
    width: 60%;
}

#judul1
{
    color: #ffffff;
    text-align: center;
    background-color: deeppink;
    width: 25%;
    margin: auto;
    margin-left: 53%;
    border-radius: 6px;
}

#judul2
{
    color: #ffffff;
    text-align: center;
    background-color: deeppink;
    width: 29.5%;
    margin: auto;
    margin-left: 43.5%;
    border-radius: 6px;
    position: relative;
    bottom: 300px;
    left: 80px;
}

#gambarmadu1
{
    border-radius: 10%;
    position: relative;
    right: 20px;
    bottom: 20px;

}

#gambarmadu2
{
    border-radius: 10%;
    position: relative;
    right: 20px;
    bottom: 320px;
}

#pendahuluan1
{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 2px solid deeppink;
    background-color: deeppink;
    margin: 1% auto;
    padding: 10px;
    padding-bottom: 50px;
    width: 85%;
    height: 60%;
    position: relative;
    bottom: 205px;
    left: 140px;
}

#pendahuluan2
{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 2px solid deeppink;
    background-color: deeppink;
    margin: 1% auto;
    padding: 10px;
    padding-bottom: 50px;
    width: 85%;
    height: 60%;
    position: relative;
    bottom: 505px;
    left: 140px;
}

#back1
{
    position: relative;
    top: 275px;
    right: 300px;
}

#back2
{
    position: relative;
    top: 330px;
    right: 300px;
}

#shopping1
{
    position: relative;
    top: 275px;
    right: 25px;
}

#shopping2
{
    position: relative;
    top: 330px;
    right: 25px;
}
