*
{
    margin: 0;
    padding: 0;
    font-family: calibri;
}


body
{
    overflow-x:hidden;
    background-color: #ffffff;
}

.madutop 
{   
    background-image: url(gambar/bg_madu.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 70%;
}

.gambar1
{
    position: relative;
    left: 6%;
}

.sabda
{
    color: white;
    text-align: right;
    padding: 5%;

}

.beli
{
    color: #ffffff;
    width: 5%;
    padding: 1%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 20px;
    text-align: center;
    background-color:  deeppink;
    border-bottom: 2px solid rgba(0, 0, 0, 0.322);
}
.heading
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.322);
    width: 23%;
    padding: 3%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    color: black;
    top: 5%;
}

.home
{
    color: #ffffff;
    width: 5%;
    padding: 10px;
    margin: auto;
    margin-bottom: 4%;
    border-radius: 20px;
    text-align: center;
    background-color:  deeppink;
}
.pembelian
{
    width: 6%;
    margin: 0% auto;
    margin-top: 10%;
    text-decoration: underline;
    background-color: white;
}

#office
{
    margin: auto;
    margin-left: 55.4%;
    margin-top: 5%;
}

#isi_office
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    margin: auto;
    margin-right: 17.3%;
    width: 60%;
}

#isi_office img
{
    position: relative;
    right: 15.6%;
}

#whatsapp
{
    margin: auto;
    margin-left: 54.3%;
    margin-top: 5%;    
}

#isi_whatsapp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    margin: auto;
    margin-right: 20%;
    width: 60%; 
}

#isi_whatsapp img
{
    position: relative;
    right: 15.5%;
}

#shopee
{
    margin: auto;
    margin-left: 55.2%;
    margin-top: 5%;
}

#isi_shopee
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    margin: auto;
    margin-right: 21.5%;
    width: 60%;     
}

#isi_shopee img
{
    position: relative;
    right: 12%;
}
