*
{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.Navigasi
{
    background: #fdcb6e;
    position: fixed;
    width: 100%;
    font-size: 18px;
    z-index: 5;
}

.Navigasi li
{
    list-style: none;
    overflow: hidden;
    color: #d35400;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.Navigasi li:hover
{
    background: #f1c40f;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Navigasi a
{
    text-decoration: none;
    color: #d35400;
}

.InnerNavigasi
{
    display: flex;
    padding: 10px;
    align-items: center;
}

.BodyNavigasi1
{
    width: 50%;
}

.Logo
{
    width: 80px;
}

.BodyNavigasi2
{
    float: right;
    text-align: right;
    width: 50%;
}

.Active
{
    background: #f1c40f;
}

.BodyNavigasi3
{
    display: none;
    text-align: right;
    width: 50%;
}

.Content
{
    display: none;
    padding: 10px;
}

.Content li
{
    padding: 10px;
    display: block;
}

.MaduTop
{
    background-image: url('gambar/bg_madu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.Background1
{
    background: rgb(0, 0, 0, 0.5);
    height: 100vh;
}

.Sabda
{
    color: white;
    position: absolute;
    right: 2%;
    bottom: 20%;
    text-align: right;
    width: 600px;
}

.Background2
{
    background: #f9ca24;
    padding: 20px;
}

.Judul
{
    color: white;
    text-align: center;
}

.Cover
{
    background: #f6b93b;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    width: 85%;
    padding: 20px;
    margin-top: 20px;
}

.SetCover
{
    padding: 20px;
    width: 50%;
}

.SetCover img
{
    width: 100%;
}

.GetCover
{
    padding: 20px;
    width: 50%;
}

.IsiCover
{
    margin-top: 10px;
    text-align: justify;
}

.Background3
{
    background: #FFC312;
    padding: 20px;
}

.IsiVideo
{
    margin-top: 10px;
}

.Footer2
{
    background: #e58e26;
    padding: 20px;
    color: white;
}

.Footer2 li
{
    list-style: none;
    margin-top: 5px;
}

.InFooter1
{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.InFooter1 a
{
    color: white;
    text-decoration: none;
}

.Brand
{
    width: 40%;
}

.Daftar
{
    width: 30%;
}

.Langganan
{
    width: 30%;
}

.TextBox
{
    width: 100%;
    color: white;
    background: none;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #ffa801;
    font-size: 15px;
    padding: 5px;
}

.Subscribe
{
    background: #ffa801;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
}

.InFooter2
{
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-widht: 720px)
{
    .BodyNavigasi2
    {
        display: none;
    }
    .BodyNavigasi3
    {
        display: block;
    }

    .Header
    {
        display: flex;
        align-items: center;
    }
    .Sabda
    {
        position: initial;
        padding: 10px;
        font-size: 20px;
        right: auto;
        bottom: auto;
        text-align: center;
        width: 100%;
    }

    .Cover
    {
        display: block;
    }
    .SetCover
    {
        width: 100%;
        padding: 0;
    }
    .GetCover
    {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .InFooter1
    {
        display: block;
    }
    .InFooter1 h1
    {
        text-align: center;
    }
    .InFooter1 li
    {
        text-align: center;
    }
    .Brand
    {
        width: 100%;
    }
    .Daftar
    {
        width: 100%;
    }
    .Langganan
    {
        width: 100%;
    }
}
