*
{
    margin: 0;
    padding: 0;
}
body
{
     background-color: #ffffff;
     width: 100%;


}
.madutop 
{
    background-image: url(bg_madu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.sabda
{
    color: white;
    text-align: right;
}

.beli
{
    width: 6%;
    padding: 10px;
    margin: 5% auto;
    border-radius: 48%;
    text-align: center;
    background-color: palevioletred;
}

.heading
{
    width: 18%;
    padding: 10px;
    margin: 10% auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15%;
}

.cover
{
    border: 2px solid black;
    padding: 0%;
    margin: 5%;
}

.judul h3
{
    text-align: center;
    background-color: palevioletred;
    width: 15%;
    margin: 10% auto;
    border-radius: 10%;
}

.judul img
{
    text-align: left;
}

.pendahuluan img
{
    border-radius: 10%;
}

.pendahuluan
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 2px solid black;
    background-color: palevioletred;
    margin: 20%;
    padding: 20px;
    width: 60%;
}
